.modal-dialog {
  border: 1px solid gray;
  color: black;
  position: absolute;
  z-index: 5;
}

.modal-dialog a,.modal-dialog a:link,.modal-dialog a:visited {
  color: #eee;
  cursor: default;
}

.modal-dialog-bg {
  background: #777;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

.modal-dialog-title {
  background: #fff;
  color: black;
  font-size: 120%;
  font-weight: bold;
  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;
  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  background: #fff url(../image/close.png) no-repeat -2px -2px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.modal-dialog-buttons,.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}

.ng-dialog {
  background: #fff;
  padding: 10px;
}