.ng-nest-splitpane {
  height: 100%;
}

.goog-splitpane-handle {
  position: absolute;
}

.goog-splitpane-handle-horizontal {
  cursor: col-resize;
}

.goog-splitpane-handle-vertical {
  cursor: row-resize;
}

.goog-splitpane-first-container,.goog-splitpane-second-container {
  overflow: hidden;
  position: absolute;
}
