.progress-bar-vertical,.progress-bar-horizontal {
  position: relative;
  background: white;
  overflow: hidden;
}

.progress-bar-thumb {
  position: relative;
  background: #d4e4ff;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.progress-bar-label {
  position: absolute;
  top: 0;
  text-align: center;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}