.ng-closeable-tab {
  padding-right: 20px;
  height: 15px;
}

.ng-tab-close,.ng-tab-close:hover {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  /* margin: 5px 0px 2px 6px; */
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.ng-tab-close {
  background-image: url(../image/close.png);
}

.ng-tab-close:hover {
  background-image: url(../image/close.png);
  background-color: #ddd;
}

.ng-tab-bar-more {
  position: absolute;
  right: 0px;
  top: 4px;
  height: 20px;
  padding: 0px 8px 0px 4px;
  cursor: pointer;
}

.goog-tab {
  /* overflow: hidden; */
  white-space: nowrap;
  position: relative;
  color: #666;
  cursor: default;
}

.goog-tab-bar-top .goog-tab {
  margin: 1px 4px 0 0;
  border-bottom: 0;
  float: left;
}

.goog-tab-bar-top:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.goog-tab-hover {
  border: 1px solid #ddd;
}

.goog-tab-disabled {
  color: #666;
}

.goog-tab-selected {
  color: #000;
  background: #fff;
  text-decoration: none;
  border: 1px solid #999;
  padding-left: 2px;
}

.goog-tab-bar-top {
  padding-top: 2px !important;
  padding-left: 5px !important;
  border-bottom: 1px solid #999 !important;
}

.goog-tab-bar-top .goog-tab-selected {
  top: 1px;
  margin-top: 0;
  padding-bottom: 5px;
}

.goog-tab-bar {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  outline: none;
}

.goog-tab-bar-clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.goog-tab-content {
  position: absolute;
  top: 24px;
  width: 100%;
  /* TODO(lx): hack fix for tab content, should solve this in tab bar drct */
  height: 95%;
  overflow: hidden;
  border: 1px solid #eee;
}