<div>
  <div class="pane">
    <div>
      <div class="ng-tab-bar" ng-as="editorCtrl.tabBar"
        ng-on-select="editorCtrl.onSelectTab($selected)"
        ng-on-close="editorCtrl.onCloseTab($event.target)"></div>
      <div class="goog-tab-bar-clear"></div>
      <div class="goog-tab-content">
        <code-editor ng-as="editorCtrl.editors"
          config='editorCtrl.config' entries='editorCtrl.entries'></code-editor>
      </div>
    </div>
  </div>
</div>