<div>
  <div id="file_tree" class="ng-tree" ng-as="fileTreeCtrl.fileTree"
    ng-on-mousedown="fileTreeCtrl.onSelected($selected)"
    ng-on-dblclick="fileTreeCtrl.loadFile($selected)"
    data="fileTreeCtrl.files" delimitor="/">
    <div class="goog-menu" style="display: none">
      <div class="goog-menuitem"
        ng-enabled="!fileTreeCtrl.seleted.is_leaf"
        ng-on-action="fileTreeCtrl.addFile($selected)">Add
        File</div>
      <div class="goog-menuitem"
        ng-enabled="fileTreeCtrl.seleted.is_leaf"
        ng-on-action="fileTreeCtrl.removeFile($selected)">Remove
        File</div>
      <div class="goog-menuitem"
        ng-enabled="!fileTreeCtrl.seleted.is_leaf"
        ng-on-action="fileTreeCtrl.addFolder($selected)">Add
        Folder</div>
      <div class="goog-menuitem"
        ng-enabled="!fileTreeCtrl.seleted.is_leaf && (fileTreeCtrl.seleted!=fileTreeCtrl.fileTree)"
        ng-on-action="fileTreeCtrl.removeFolder($selected)">Remove
        Folder</div>
    </div>
  </div>

  <div name='new_file_name_dialog' class='ng-dialog'
    title="Input File Name" on-ok="fileTreeCtrl.newFile()"
    on-cancel="fileTreeCtrl.cancel()">
    <table>
      <tr>
        <td>Parent folder:</td>
        <td style="color: #999">{{fileTreeCtrl.selectedPath}}</td>
      </tr>
      <tr>
        <td>New File Name:</td>
        <td><input ng-model="fileTreeCtrl.inputName"
          placeholder="Input file name"></td>
      </tr>
    </table>
  </div>
  <div name='new_folder_name_dialog' class='ng-dialog'
    title="Input Folder Name" on-ok="fileTreeCtrl.newFolder()"
    on-cancel="fileTreeCtrl.cancel()">
    <table>
      <tr>
        <td>Parent folder:</td>
        <td style="color: #999">{{fileTreeCtrl.selectedPath}}</td>
      </tr>
      <tr>
        <td>New Folder Name:</td>
        <td><input ng-model="fileTreeCtrl.inputName"
          placeholder="Input folder name"></td>
      </tr>
    </table>
  </div>
</div>