<div>
  <div class="status-bar">
    <div style="width: 50%" class="status-widget">Current File -
      {{ footerCtrl.filePath}}</div>
    <div style="width: 10%" class="status-widget" ui-view="position"></div>
    <div style="width: 10%" class="status-right-widget">
      <div class="ng-progress-bar" name="footerCtrl.taskName"
        progress="footerCtrl.progress">
        <div class="progress-bar-thumb">&nbsp;</div>
        <div class="progress-bar-label">
          {{footerCtrl.taskName}} <span
            ng-show="footerCtrl.progress > 0">{{footerCtrl.progress}}
            %</span>
        </div>
      </div>
    </div>
    <div class="status-center-widget" ui-view="notify">Notification</div>
  </div>
</div>