<div class="one-line">
  <div class="ng-button-menu" title="Git">
    <div class="goog-inline-block"></div>
    <span>Git</span>
    <div class="goog-menu">
      <div class="goog-menuitem" ng-on-action="gitCtrl.reexecute()">
        <b>Last Command: </b> {{gitCtrl.last.repository}}
        {{gitCtrl.last.command}} ...
      </div>
      <div class="goog-menuseparator"></div>
      <div class="goog-menuitem"
        ng-on-action="gitCtrl.requestExecution('clone')">Clone
        Remote Repository</div>
      <div class="goog-menuitem" ng-on-action="gitCtrl.requestInit()">Init
        Local Repository</div>
      <div class="goog-menuitem"
        ng-on-action="gitCtrl.requestExecution('push')">Push to
        Remote Repository</div>
      <div class="goog-menuitem"
        ng-on-action="gitCtrl.requestExecution('pull')">Pull from
        Remote Repository</div>
      <div class="goog-menuseparator"></div>
      <div class="goog-menuitem"
        ng-on-action="gitCtrl.requestExecution()">Execute Git
        Command</div>
    </div>
  </div>
  <div name='request_init_dialog' class='ng-dialog'
    title='Request Init Local Repository'
    on-ok="gitCtrl.initRepository()" on-cancel="gitCtrl.cancel()">
    <div>
      Ar you sure you want to init a local git repository in folder:
      <p />
      <b>{{gitCtrl.selectedPath}}</b>
    </div>
  </div>
  <div name='request_execution_dialog' class='ng-dialog'
    title='Request Git Command Execution' on-ok="gitCtrl.execute()"
    on-cancel="gitCtrl.cancel()">
    <table>
      <tr
        ng-hide="gitCtrl.Commands[gitCtrl.next.command].noRepositories">
        <td>Select Repository:</td>
        <td style="color: #999"><select
          ng-init="gitCtrl.next.repository=gitCtrl.last.repository"
          ng-model="gitCtrl.next.repository"
          ng-options="repository for repository in gitCtrl.repositories">
        </select></td>
      </tr>
      <tr>
        <td>Select Command:</td>
        <td><select ng-model="gitCtrl.next.command"
          ng-change="gitCtrl.next.parameters=gitCtrl.Commands[gitCtrl.next.command].parameters">
            <option ng-repeat="(command, config) in gitCtrl.Commands">{{command}}</option>
        </select></td>
      </tr>
      <tr>
        <td>Command Parameters:</td>
      </tr>
      <tr ng-repeat="param in gitCtrl.next.parameters">
        <td>{{param.key}}:</td>
        <td><input ng-model="gitCtrl.next.parameters[$index].value"
          type="{{gitCtrl.next.parameters[$index].type}}"
          placeholder="git {{gitCtrl.next.command}} {{param.key}} value"></td>
        <td><button ng-disabled="param.required"
            ng-click="gitCtrl.removeParameter($index)">-</button></td>
      </tr>
      <tr>
        <td><input ng-model="gitCtrl.newParamKey"
          placeholder="new parameter key">&nbsp;:&nbsp;</td>
        <td><input ng-model="gitCtrl.newParamValue"
          placeholder="new parameter value"></td>
        <td><button ng-disabled="gitCtrl.newParamKey===''"
            ng-click="gitCtrl.addParameter()">+</button></td>
      </tr>
    </table>
  </div>
</div>