<div>
  <div class="clidec">
    <b><i>CLIDEC <span style="color: #00f">alpha</i></span> </b>
  </div>
  <div class="tool-bar">
    <div class="tool-widget" ui-view="workspace"></div>
    <div class="tool-widget" ui-view="maven"></div>
    <div class="tool-widget" ui-view="git"></div>
    <div class="tool-widget" ui-view="tomcat"></div>
    <div class="tool-center-widget" ui-view="search"></div>
  </div>
</div>