<div class="one-line">
  <div class="ng-button-menu" title="Maven">
    <div class="goog-inline-block"></div>
    <span>Maven</span>
    <div class="goog-menu">
      <div class="goog-menuitem" ng-on-action="mavenCtrl.reexecute()">
        <b>Last Goals: </b> {{mavenCtrl.last.goals}}
        {{mavenCtrl.last.project}}
      </div>
      <div class="goog-menuseparator"></div>
      <div class="goog-menuitem"
        ng-on-action="mavenCtrl.requestExecution('compile', '')">Compile</div>
      <div class="goog-menuitem"
        ng-on-action="mavenCtrl.requestExecution('exec:java', 'exec.mainClass=')">Run
        Java</div>
      <div class="goog-menuitem"
        ng-on-action="mavenCtrl.requestExecution()">Execute</div>
    </div>
  </div>
  <div name='request_goal_execution_dialog' class='ng-dialog'
    title='Request Goal Execution' on-ok="mavenCtrl.execute()"
    on-cancel="mavenCtrl.cancel()">
    <table>
      <tr>
        <td>Select Project:</td>
        <td style="color: #999"><select
          ng-init="mavenCtrl.next.project=mavenCtrl.last.project"
          ng-model="mavenCtrl.next.project"
          ng-options="project for project in mavenCtrl.projects">
        </select></td>
      </tr>
      <tr>
        <td>Maven Goals:</td>
        <td style="color: #999"><input
          ng-model="mavenCtrl.next.goals" placeholder="Maven goal list"></td>
      </tr>
      <tr>
        <td>Maven Goal's Parameters:</td>
        <td><input ng-model="mavenCtrl.next.parameters"
          placeholder="Maven goals parameter list"></td>
      </tr>
    </table>
  </div>
</div>