<div>
  <div id="outline" class="ng-tree" ng-as="outlineCtrl.astTree"
    ng-on-mousedown="outlineCtrl.onSelected($selected)"
    data="outlineCtrl.ast" delimitor=".">
    <div class="goog-menu" style="display: none"></div>
  </div>
</div>