<div class="one-line">
  <div>
    <input class="search-box one-line" ng-model="searchCtrl.query"
      placeholder="Input query" />
    <button style="float: right" ng-disabled="searchCtrl.query===''"
      ng-click="searchCtrl.search()">Search</button>
  </div>
</div>