<div class="one-line">
  <div class="ng-button-menu" title="Tomcat">
    <div class="goog-inline-block"></div>
    <span>Tomcat</span>
    <div class="goog-menu">
      <div class="goog-menuitem" ng-on-action="tomcatCtrl.reexecute()">
        <b>Last: </b> {{tomcatCtrl.last.op}} {{tomcatCtrl.last.path}}
      </div>
      <div class="goog-menuseparator"></div>
      <div class="goog-menuitem"
        ng-on-action="tomcatCtrl.requestRunProject()">Run Project</div>
      <div class="goog-menuitem" ng-on-action="tomcatCtrl.start()">Start
        Server</div>
      <div class="goog-menuitem"
        ng-on-action="tomcatCtrl.requestDeploy()">Deploy War</div>
      <div class="goog-menuitem" ng-on-action="tomcatCtrl.stop()">Stop
        Server</div>
    </div>
  </div>
  <div name='request_deploy_dialog' class='ng-dialog'
    title='Request Tomcat Operation' on-ok="tomcatCtrl.deploy()"
    on-cancel="tomcatCtrl.cancel()">
    <table>
      <tr>
        <td>Operation:</td>
        <td style="color: #999">deploy</td>
      </tr>
      <tr>
        <td>Select File:</td>
        <td style="color: #999"><input
          ng-model="tomcatCtrl.next.path" placeholder="Tomcat Operation">
        </td>
      </tr>
      <tr>
        <td>Tomcat Operation Parameters:</td>
        <td><input ng-model="tomcatCtrl.next.parameters"
          placeholder="Tomcat operation parameter list"></td>
      </tr>
    </table>
  </div>
  <div name='request_run_dialog' class='ng-dialog'
    title='Request Tomcat Operation' on-ok="tomcatCtrl.execute()"
    on-cancel="tomcatCtrl.cancel()">
    <table>
      <tr>
        <td>Operation:</td>
        <td style="color: #999">run</td>
      </tr>
      <tr>
        <td>Select Project:</td>
        <td style="color: #999"><select
          ng-model="tomcatCtrl.next.path"
          ng-options="project for project in tomcatCtrl.projects">
        </select></td>
      </tr>
      <tr>
        <td>Tomcat Operation Parameters:</td>
        <td><input ng-model="tomcatCtrl.next.parameters"
          placeholder="Tomcat operation parameter list"></td>
      </tr>
    </table>
  </div>
</div>