<div class="one-line">
  <div class="ng-button-menu" title="Workspace">
    <div class="goog-inline-block"></div>
    <span>Workspace</span>
    <div class="goog-menu">
      <div class="goog-menuitem">Current:
        {{workspaceCtrl.currentWorkspace}}</div>
      <div class="goog-menuseparator"></div>
      <div class="goog-menuitem" ng-on-action="workspaceCtrl.requestAdd()">Create</div>
      <div class="goog-menuitem"
        ng-disabled="!workspaceCtrl.currentWorkspace"
        ng-on-action="workspaceCtrl.requestRemove()">Remove</div>
      <div class="goog-menuitem" ng-on-action="workspaceCtrl.requestGo()">Switch
        to</div>
    </div>
  </div>
  <div name='new_workspace_dialog' class='ng-dialog'
    title='New Workspace' on-ok="workspaceCtrl.add()"
    on-cancel="workspaceCtrl.cancel()">
    Input workspace name: <input ng-model="workspaceCtrl.newWorkspace"
      placeholder="Name of new workspace">
  </div>
  <div name='select_workspace_dialog' class='ng-dialog'
    title='Switch to workspace' on-ok="workspaceCtrl.go()"
    on-cancel="workspaceCtrl.cancel()">
    Select workspace: <select
      ng-init="workspaceCtrl.targetWorkspace=workspaceCtrl.currentWorkspace"
      ng-model="workspaceCtrl.targetWorkspace"
      ng-options="workspace for workspace in workspaceCtrl.workspaces">
    </select>
  </div>
  <div name='remove_workspace_dialog' class='ng-dialog'
    title='Remove current workspace' on-ok="workspaceCtrl.remove()"
    on-cancel="workspaceCtrl.cancel()">
    Remove current workspace {{workspaceCtrl.currentWorkspace}}?
  </div>
</div>