body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 8px;
  left: 0px;
  font-size: 13px;
}

.header {
  height: 32px;
  position: absolute;
  right: 0px;
  left: 6px;
}

.main-pane {
  position: absolute;
  top: 33px; /* Header Height */
  bottom: 26px; /* Footer Height */
  right: 0px;
  left: 6px;
}

.footer {
  height: 25px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 6px;
  z-index: -1;
}

.clidec {
  float: left;
  margin: 7px 20px 0px 10px;
}

.tool-bar {
  height: 25px;
  overflow: hidden;
  padding: 0px;
  margin-top: 2px;
}

.tool-widget {
  float: left;
  margin: 2px;
}

.tool-center-widget {
  margin: 2px;
}

.tool-right-widget {
  float: right;
  margin: 2px;
}

.navigator {
  width: 99%;
  position: absolute;
  top: 20px;
  bottom: 0px;
  outline: none;
}

.outline {
  width: 99%;
  position: absolute;
  top: 20px;
  bottom: 0px;
  outline: none;
}

.one-line {
  display: inline-block;
}

.borderline {
  border: 1px solid #eee;
}

.console-pane {
  width: 99%;
  position: absolute;
  top: 20px;
  bottom: 0px;
  outline: none;
}

.search-box {
  width: 300px;
  height: 16px;
  border: 1px solid #999;
  margin-left: 10px;
  padding: 0px;
  outline: none;
}

.status-bar {
  height: 25px;
  overflow: hidden;
  padding: 0px;
  margin-top: 2px;
}

.status-widget {
  margin-left: 1px;
  float: left;
  padding: 3px;
  border: 1px solid #eee;
}

.status-center-widget {
  margin-left: 1px;
  margin-right: 1px;
  padding: 3px;
  border: 1px solid #eee;
}

.status-right-widget {
  margin-right: 1px;
  float: right;
  padding: 3px;
  border: 1px solid #eee;
}